<div class="row">
	<div class="col-md-6">
		<!-- BEGIN PORTLET -->
		<div class="portlet light ">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-bar-chart theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">个人活动信息统计</span>
					<span class="caption-helper hide">本周统计...</label>
				</div>
				<div class="actions">
					<div class="btn-group btn-group-devided" data-toggle="buttons">
						<label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
						<input type="radio" name="options" class="toggle" id="option1">今日</label>
						<label class="btn btn-transparent grey-salsa btn-circle btn-sm">
						<input type="radio" name="options" class="toggle" id="option2">本周</label>
						<label class="btn btn-transparent grey-salsa btn-circle btn-sm">
						<input type="radio" name="options" class="toggle" id="option2">本月</label>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div class="row number-stats margin-bottom-30">
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="stat-left">
							<div class="stat-chart">
								<!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
								<div id="sparkline_bar"></div>
							</div>
							<div class="stat-number">
								<div class="title">
									总计
								</div>
								<div class="number">
									2460
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="stat-right">
							<div class="stat-chart">
								<!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
								<div id="sparkline_bar2"></div>
							</div>
							<div class="stat-number">
								<div class="title">
									新增
								</div>
								<div class="number">
									719
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="table-scrollable table-scrollable-borderless">
					<table class="table table-hover table-light">
						<thead>
							<tr class="uppercase">
								<th colspan="2">
									用户名称
								</th>
								<th>
									消费金额
								</th>
								<th>
									成功单数
								</th>
								<th>
									关闭单数
								</th>
								<th>
									成功率
								</th>
							</tr>
						</thead>
						<tr>
							<td class="fit">
								<img class="user-pic" src="../../../assets/admin/layout3/img/avatar4.jpg">
							</td>
							<td>
								<a href="#" class="primary-link">Brain</a>
							</td>
							<td>
								$345
							</td>
							<td>
								45
							</td>
							<td>
								124
							</td>
							<td>
								<span class="bold theme-font">80%</span>
							</td>
						</tr>
						<tr>
							<td class="fit">
								<img class="user-pic" src="../../../assets/admin/layout3/img/avatar5.jpg">
							</td>
							<td>
								<a href="#" class="primary-link">管理员</a>
							</td>
							<td>
								$560
							</td>
							<td>
								12
							</td>
							<td>
								24
							</td>
							<td>
								<span class="bold theme-font">67%</span>
							</td>
						</tr>
						<tr>
							<td class="fit">
								<img class="user-pic" src="../../../assets/admin/layout3/img/avatar6.jpg">
							</td>
							<td>
								<a href="#" class="primary-link">Tim</a>
							</td>
							<td>
								$1,345
							</td>
							<td>
								450
							</td>
							<td>
								46
							</td>
							<td>
								<span class="bold theme-font">98%</span>
							</td>
						</tr>
						<tr>
							<td class="fit">
								<img class="user-pic" src="../../../assets/admin/layout3/img/avatar7.jpg">
							</td>
							<td>
								<a href="#" class="primary-link">Tom</a>
							</td>
							<td>
								$645
							</td>
							<td>
								50
							</td>
							<td>
								89
							</td>
							<td>
								<span class="bold theme-font">58%</span>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<!-- END PORTLET -->
	</div>
	<div class="col-md-6">
		<!-- BEGIN PORTLET -->
		<div class="portlet light">
			<div class="portlet-title tabbable-line">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">概览</span>
				</div>
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#" data-target="#tab_1_1" data-toggle="tab">
						系统 </a>
					</li>
					<li>
						<a href="#" data-target="#tab_1_2" data-toggle="tab">
						活跃 </a>
					</li>
				</ul>
			</div>
			<div class="portlet-body">
				<!--BEGIN TABS-->
				<div class="tab-content">
					<div class="tab-pane active" id="tab_1_1">
						<div class="scroller" style="height: 320px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
							<ul class="feeds">
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-success">
													<i class="fa fa-bell-o"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													You have 4 pending tasks. <span class="label label-sm label-info">
													Take action <i class="fa fa-share"></i>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											刚刚
										</div>
									</div>
								</li>
								<li>
									<a href="#">
										<div class="col1">
											<div class="cont">
												<div class="cont-col1">
													<div class="label label-sm label-success">
														<i class="fa fa-bell-o"></i>
													</div>
												</div>
												<div class="cont-col2">
													<div class="desc">
														新版本 v1.4 just lunched!
													</div>
												</div>
											</div>
										</div>
										<div class="col2">
											<div class="date">
												20 分钟
											</div>
										</div>
									</a>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-danger">
													<i class="fa fa-bolt"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Database server #12 overloaded. Please fix the issue.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											24 mins
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-bullhorn"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													New order received and pending for process.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											30 mins
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-success">
													<i class="fa fa-bullhorn"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													New payment refund and pending approval.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											40 mins
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-warning">
													<i class="fa fa-plus"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													New member registered. Pending approval.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											1.5 hours
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-success">
													<i class="fa fa-bell-o"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Web server hardware needs to be upgraded. <span class="label label-sm label-default ">
													Overdue </span>
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											2 hours
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-default">
													<i class="fa fa-bullhorn"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Prod01 database server is overloaded 90%.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											3 hours
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-warning">
													<i class="fa fa-bullhorn"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													New group created. Pending manager review.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											5 hours
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-bullhorn"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Order payment failed.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											18 hours
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-default">
													<i class="fa fa-bullhorn"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													收到的新申请.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											21 hours
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-bullhorn"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Dev90 web server restarted. Pending overall system check.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											22 hours
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-default">
													<i class="fa fa-bullhorn"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													New member registered. Pending approval
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											21 hours
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-bullhorn"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													L45 Network failure. Schedule maintenance.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											22 hours
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-default">
													<i class="fa fa-bullhorn"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Order canceled with failed payment.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											21 hours
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-bullhorn"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Web-A2 clound instance created. Schedule full scan.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											22 hours
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-default">
													<i class="fa fa-bullhorn"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Member canceled. Schedule account review.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											21 hours
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-bullhorn"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													New order received. Please take care of it.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											22 hours
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="tab-pane" id="tab_1_2">
						<div class="scroller" style="height: 337px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
							<ul class="feeds">
								<li>
									<a href="#">
										<div class="col1">
											<div class="cont">
												<div class="cont-col1">
													<div class="label label-sm label-success">
														<i class="fa fa-bell-o"></i>
													</div>
												</div>
												<div class="cont-col2">
													<div class="desc">
														新用户注册
													</div>
												</div>
											</div>
										</div>
										<div class="col2">
											<div class="date">
												刚刚
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="col1">
											<div class="cont">
												<div class="cont-col1">
													<div class="label label-sm label-success">
														<i class="fa fa-bell-o"></i>
													</div>
												</div>
												<div class="cont-col2">
													<div class="desc">
														New order received
													</div>
												</div>
											</div>
										</div>
										<div class="col2">
											<div class="date">
												10 mins
											</div>
										</div>
									</a>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-danger">
													<i class="fa fa-bolt"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Order #24DOP4 has been rejected. <span class="label label-sm label-danger ">
													Take action <i class="fa fa-share"></i>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											24 mins
										</div>
									</div>
								</li>
								<li>
									<a href="#">
										<div class="col1">
											<div class="cont">
												<div class="cont-col1">
													<div class="label label-sm label-success">
														<i class="fa fa-bell-o"></i>
													</div>
												</div>
												<div class="cont-col2">
													<div class="desc">
														新用户注册
													</div>
												</div>
											</div>
										</div>
										<div class="col2">
											<div class="date">
												刚刚
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="col1">
											<div class="cont">
												<div class="cont-col1">
													<div class="label label-sm label-success">
														<i class="fa fa-bell-o"></i>
													</div>
												</div>
												<div class="cont-col2">
													<div class="desc">
														新用户注册
													</div>
												</div>
											</div>
										</div>
										<div class="col2">
											<div class="date">
												刚刚
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="col1">
											<div class="cont">
												<div class="cont-col1">
													<div class="label label-sm label-success">
														<i class="fa fa-bell-o"></i>
													</div>
												</div>
												<div class="cont-col2">
													<div class="desc">
														新用户注册
													</div>
												</div>
											</div>
										</div>
										<div class="col2">
											<div class="date">
												刚刚
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="col1">
											<div class="cont">
												<div class="cont-col1">
													<div class="label label-sm label-success">
														<i class="fa fa-bell-o"></i>
													</div>
												</div>
												<div class="cont-col2">
													<div class="desc">
														新用户注册
													</div>
												</div>
											</div>
										</div>
										<div class="col2">
											<div class="date">
												刚刚
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="col1">
											<div class="cont">
												<div class="cont-col1">
													<div class="label label-sm label-success">
														<i class="fa fa-bell-o"></i>
													</div>
												</div>
												<div class="cont-col2">
													<div class="desc">
														新用户注册
													</div>
												</div>
											</div>
										</div>
										<div class="col2">
											<div class="date">
												刚刚
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="col1">
											<div class="cont">
												<div class="cont-col1">
													<div class="label label-sm label-success">
														<i class="fa fa-bell-o"></i>
													</div>
												</div>
												<div class="cont-col2">
													<div class="desc">
														新用户注册
													</div>
												</div>
											</div>
										</div>
										<div class="col2">
											<div class="date">
												刚刚
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="col1">
											<div class="cont">
												<div class="cont-col1">
													<div class="label label-sm label-success">
														<i class="fa fa-bell-o"></i>
													</div>
												</div>
												<div class="cont-col2">
													<div class="desc">
														新用户注册
													</div>
												</div>
											</div>
										</div>
										<div class="col2">
											<div class="date">
												刚刚
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!--END TABS-->
			</div>
		</div>
		<!-- END PORTLET -->
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<!-- BEGIN PORTLET -->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-bar-chart theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">客户支持</span>
					<span class="caption-helper">45   项待解决...</span>
				</div>
				<div class="inputs">
					<div class="portlet-input input-inline input-small ">
						<div class="input-icon right">
							<i class="icon-magnifier"></i>
							<input type="text" class="form-control form-control-solid" placeholder="搜索...">
						</div>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height: 305px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
					<div class="general-item-list">
						<div class="item">
							<div class="item-head">
								<div class="item-details">
									<img class="item-pic" src="../../../assets/admin/layout3/img/avatar4.jpg">
									<a href="" class="item-name primary-link">管理员 Larson</a>
									<span class="item-label">3 小时以前</span>
								</div>
								<span class="item-status"><span class="badge badge-empty badge-success"></span> Open</span>
							</div>
							<div class="item-body">
								对于需要反复重复的任务，例如压缩（minification）、编译、单元测试、linting等，自动化工具可以减轻你的劳动，简化你的工作。当你正确配置好了任务，任务运行器就会自动帮你或你的小组完成大部分无聊的工作。
							</div>
						</div>
						<div class="item">
							<div class="item-head">
								<div class="item-details">
									<img class="item-pic" src="../../../assets/admin/layout3/img/avatar3.jpg">
									<a href="" class="item-name primary-link">Mark</a>
									<span class="item-label">5 小时以前</span>
								</div>
								<span class="item-status"><span class="badge badge-empty badge-warning"></span> Pending</span>
							</div>
							<div class="item-body">
								Grunt生态系统非常庞大，并且一直在增长。由于拥有数量庞大的插件可供选择，因此，你可以利用Grunt自动完成任何事，并且花费最少的代价。如果找不到你所需要的插件，那就自己动手创造一个Grunt插件，然后将其发布到npm上吧。
							</div>
						</div>
						<div class="item">
							<div class="item-head">
								<div class="item-details">
									<img class="item-pic" src="../../../assets/admin/layout3/img/avatar6.jpg">
									<a href="" class="item-name primary-link">管理员 Larson</a>
									<span class="item-label">8 小时以前</span>
								</div>
								<span class="item-status"><span class="badge badge-empty badge-primary"></span> Closed</span>
							</div>
							<div class="item-body">
								你所需要的大多数task都已经作为Grunt插件被开发了出来，并且每天都有更多的插件诞生。插件列表页面列出了完整的清单。下面给出几个你可能听说过的插件：
							</div>
						</div>
						<div class="item">
							<div class="item-head">
								<div class="item-details">
									<img class="item-pic" src="../../../assets/admin/layout3/img/avatar7.jpg">
									<a href="" class="item-name primary-link">管理员 Larson</a>
									<span class="item-label">12 小时以前</span>
								</div>
								<span class="item-status"><span class="badge badge-empty badge-danger"></span> Pending</span>
							</div>
							<div class="item-body">
								Consectetuer adipiscing elit 对于需要反复重复的任务，例如压缩（minification）、编译、单元测试、linting等，自动化工具可以减轻你的劳动，简化你的工作。当你正确配置好了任务，任务运行器就会自动帮你或你的小组完成大部分无聊的工作。
							</div>
						</div>
						<div class="item">
							<div class="item-head">
								<div class="item-details">
									<img class="item-pic" src="../../../assets/admin/layout3/img/avatar9.jpg">
									<a href="" class="item-name primary-link">Richard Stone</a>
									<span class="item-label">2 天以前</span>
								</div>
								<span class="item-status"><span class="badge badge-empty badge-danger"></span> Open</span>
							</div>
							<div class="item-body">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, ut laoreet dolore magna aliquam erat volutpat.
							</div>
						</div>
						<div class="item">
							<div class="item-head">
								<div class="item-details">
									<img class="item-pic" src="../../../assets/admin/layout3/img/avatar8.jpg">
									<a href="" class="item-name primary-link">Dan</a>
									<span class="item-label">3 天以前</span>
								</div>
								<span class="item-status"><span class="badge badge-empty badge-warning"></span> Pending</span>
							</div>
							<div class="item-body">
								Lorem ipsum dolor sit amet, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
							</div>
						</div>
						<div class="item">
							<div class="item-head">
								<div class="item-details">
									<img class="item-pic" src="../../../assets/admin/layout3/img/avatar2.jpg">
									<a href="" class="item-name primary-link">Larry</a>
									<span class="item-label">4 小时以前</span>
								</div>
								<span class="item-status"><span class="badge badge-empty badge-success"></span> Open</span>
							</div>
							<div class="item-body">
								对于需要反复重复的任务，例如压缩（minification）、编译、单元测试、linting等，自动化工具可以减轻你的劳动，简化你的工作。当你正确配置好了任务，任务运行器就会自动帮你或你的小组完成大部分无聊的工作。
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END PORTLET -->
	</div>
	<div class="col-md-6">
		<!-- BEGIN PORTLET -->
		<div class="portlet light tasks-widget">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-bar-chart theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">任务列表</span>
					<span class="caption-helper">16   项待解决...</span>
				</div>
				<div class="inputs">
					<div class="portlet-input input-small input-inline">
						<div class="input-icon right">
							<i class="icon-magnifier"></i>
							<input type="text" class="form-control form-control-solid" placeholder="搜索...">
						</div>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div class="task-content">
					<div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
						<!-- START TASK LIST -->
						<ul class="task-list">
							<li>
								<div class="task-checkbox">
									<input type="hidden" value="1" name="test"/>
									<input type="checkbox" class="liChild" value="2" name="test"/>
								</div>
								<div class="task-title">
									<span class="task-title-sp">
									Present 2013 Year IPO Statistics at Board Meeting </span>
									<span class="label label-sm label-success">Company</span>
									<span class="task-bell">
									<i class="fa fa-bell-o"></i>
									</span>
								</div>
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="#">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="task-checkbox">
									<input type="checkbox" class="liChild" value=""/>
								</div>
								<div class="task-title">
									<span class="task-title-sp">
									Hold An Interview for Marketing Manager Position </span>
									<span class="label label-sm label-danger">Marketing</span>
								</div>
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="#">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="task-checkbox">
									<input type="checkbox" class="liChild" value=""/>
								</div>
								<div class="task-title">
									<span class="task-title-sp">
									AirAsia Intranet System Project Internal Meeting </span>
									<span class="label label-sm label-success">AirAsia</span>
									<span class="task-bell">
									<i class="fa fa-bell-o"></i>
									</span>
								</div>
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="#">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="task-checkbox">
									<input type="checkbox" class="liChild" value=""/>
								</div>
								<div class="task-title">
									<span class="task-title-sp">
									Technical Management Meeting </span>
									<span class="label label-sm label-warning">Company</span>
								</div>
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="#">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="task-checkbox">
									<input type="checkbox" class="liChild" value=""/>
								</div>
								<div class="task-title">
									<span class="task-title-sp">
									Kick-off Company CRM Mobile App Development </span>
									<span class="label label-sm label-info">Internal Products</span>
								</div>
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="#">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="task-checkbox">
									<input type="checkbox" class="liChild" value=""/>
								</div>
								<div class="task-title">
									<span class="task-title-sp">
									请准备关于remark网站的商业报价 </span>
									<span class="label label-sm label-danger">SmartVision</span>
								</div>
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="#">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="task-checkbox">
									<input type="checkbox" class="liChild" value=""/>
								</div>
								<div class="task-title">
									<span class="task-title-sp">
									Sign-Off The Comercial Agreement With AutoSmart </span>
									<span class="label label-sm label-default">AutoSmart</span>
									<span class="task-bell">
									<i class="fa fa-bell-o"></i>
									</span>
								</div>
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="#">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="task-checkbox">
									<input type="checkbox" class="liChild" value=""/>
								</div>
								<div class="task-title">
									<span class="task-title-sp">
									Company Staff Meeting </span>
									<span class="label label-sm label-success">Cruise</span>
									<span class="task-bell">
									<i class="fa fa-bell-o"></i>
									</span>
								</div>
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="#">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="last-line">
								<div class="task-checkbox">
									<input type="checkbox" class="liChild" value=""/>
								</div>
								<div class="task-title">
									<span class="task-title-sp">
									KeenThemes Investment Discussion </span>
									<span class="label label-sm label-warning">KeenThemes </span>
								</div>
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="#">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
						<!-- END START TASK LIST -->
					</div>
				</div>
				<div class="task-footer">
					<div class="btn-arrow-link pull-right">
						<a href="#">查看所有任务</a>
					</div>
				</div>
			</div>
		</div>
		<!-- END PORTLET -->
	</div>
</div>
<!-- BEGIN MAIN JS-->
<script>
	Profile.init(); // init page demo
</script>
<!-- BEGIN MAIN JS -->