<!--logo start-->
<div class="brand">
    <a href="index.html"  style="font-size:16px;" class="logo">
        <i class="icon-layers"></i>
         <span style="font-size:16px;" >宠物收养和寄存</span>管理系统</a>
</div>
<!--logo end-->
<ul class="nav navbar-nav navbar-left">
    <li class="toggle-navigation toggle-left" toggle-left-sidebar></li>
    <li class="toggle-profile hidden-xs" toggle-profile></li>
    <li class="hidden-xs hidden-sm">
        <input type="text" class="search" placeholder="宠物查询...">
        <button type="submit" class="btn btn-sm btn-search"><i class="fa fa-search"></i>
        </button>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">
     <li class="dropdown profile hidden-xs">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="meta">
                            <span class="avatar">
                                <img src="../../../assets/admin/layout4/img/avatar9.jpg" class="img-circle" alt="">
                            </span>
                            <span class="text">系统用户1</span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated flipInX" role="menu">
                        <li>
                            <span class="arrow top"></span>
                            <h5>
                                <p>80%</p>
                                <small class="text-muted">Profile complete</small>
                            </h5>
                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar" style="width: 80%">
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-cog"></i>
                                </span>系统设置</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-sign-out"></i>
                                </span>登出</a>
                        </li>
                    </ul>
                </li>
    <li class="toggle-fullscreen hidden-xs" data-toggle="tooltip" title="Example tooltip"  fullscreen-mode  ></li>
    <li class="toggle-navigation toggle-right" toggle-right-sidebar></li>
</ul>
