<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
  <meta charset="utf-8">
  <title>美拓科技</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta content="Metronic Shop UI description" name="description">
  <meta content="Metronic Shop UI keywords" name="keywords">
  <meta content="keenthemes" name="author">

  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
  <meta property="og:url" content="-CUSTOMER VALUE-">

  <link rel="shortcut icon" href="favicon.ico">
  <!-- Fonts START -->
  <!-- Fonts END -->
  <!-- Global styles BEGIN -->
  <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../assets/global/plugins/slider-revolution-slider/rs-plugin/css/settings.css" rel="stylesheet">
  <!-- Global styles END -->
  <!-- Page level plugin styles BEGIN -->
  <link href="../../assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
  <!-- Page level plugin styles END -->
  <!-- Theme styles BEGIN -->
  <link href="../../assets/global/css/components.css" rel="stylesheet">
  <link href="../../assets/frontend/onepage/css/style.css" rel="stylesheet">
  <link href="../../assets/frontend/onepage/css/style-responsive.css" rel="stylesheet">
  <link href="../../assets/frontend/onepage/css/themes/red.css" rel="stylesheet" id="style-color">
  <link href="../../assets/frontend/onepage/css/custom.css" rel="stylesheet">
  <!-- Theme styles END -->
</head>
<!--DOC: menu-always-on-top class to the body element to set menu on top -->
<body>
  <!-- BEGIN STYLE CUSTOMIZER -->
  <div class="color-panel">
    <div class="color-mode-icons icon-color"></div>
    <div class="color-mode-icons icon-color-close"></div>
    <div class="color-mode">
      <p>主题颜色</p>
      <ul class="inline">
        <li class="color-red current color-default" data-style="red" data-original-title="中国红" ></li>
        <li class="color-blue" data-style="blue"></li>
        <li class="color-green" data-style="green"></li>
        <li class="color-orange" data-style="orange"></li>
        <li class="color-gray" data-style="gray"></li>
        <li class="color-turquoise" data-style="turquoise"></li>
      </ul>
      <p>菜单位置</p>
      <select class="form-control menu-pos">
        <option value="bottom">底部</option>
        <option value="top">顶部</option>
      </select>
    </div>
  </div>
  <!-- END BEGIN STYLE CUSTOMIZER -->
  <!-- Header BEGIN -->
  <div class="header header-mobi-ext">
    <div class="container">
      <div class="row">
        <!-- Logo BEGIN -->
        <div class="col-md-2 col-sm-2">
          <a class="scroll site-logo" href="onepage-index.html#promo-block"><img src="../../assets/frontend/onepage/img/logo/red.png" alt="Metronic One Page"></a>
        </div>
        <!-- Logo END -->
        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
        <!-- Navigation BEGIN -->
        <div class="col-md-10 pull-right">
          <ul class="header-navigation">
             <li class="current"><a href="#promo-block">主页</a></li>
            <li><a href="#about">公司简介</a></li>
            <li><a href="#services">服务</a></li>
            <li><a href="#team">团队</a></li>
            <li><a href="#portfolio">成功案例</a></li>
            <li><a href="#benefits">产品</a></li>            
            <li><a href="#prices">价格</a></li>
            <li><a href="#contact">联系我们</a></li
          </ul>
        </div>
        <!-- Navigation END -->
      </div>
    </div>
  </div>
  <!-- Header END -->
  <!-- Promo block BEGIN -->
  <div class="promo-block" id="promo-block">
    <div class="tp-banner-container">
      <div class="tp-banner" >
        <ul>
          <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-delay="9400" class="slider-item-1">
            <img src="../../assets/frontend/onepage/img/silder/slide1.jpg" alt="" data-bgfit="cover" style="opacity:0.4 !important;" data-bgposition="center center" data-bgrepeat="no-repeat">
            <div class="tp-caption large_text customin customout start"
              data-x="center"
              data-hoffset="0"
              data-y="center"
              data-voffset="60"
              data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
              data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-speed="1000"
              data-start="500"
              data-easing="Back.easeInOut"
              data-endspeed="300">
              <div class="promo-like"><i class="fa fa-thumbs-up"></i></div>
              <div class="promo-like-text">
                <h2>中国领先的移动营销解决方案提供商</h2>
                <p>技术 | RTB | 精准 | 人群定向 | 流量 | 品牌安全 | DMP | DSP | SSP | 移动 | </p>
              </div>
            </div>
            <div class="tp-caption large_bold_white fade"
              data-x="center"
              data-y="center"
              data-voffset="-110"
              data-speed="300"
              data-start="1700"
              data-easing="Power4.easeOut"
              data-endspeed="500"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">移动 <span>营销</span> 从此 改变
            </div>
          </li>
          <li data-transition="fadefromright" data-slotamount="5" data-masterspeed="700" data-delay="9400" class="slider-item-2">
            <img src="../../assets/frontend/onepage/img/silder/Slide2_bg.jpg" alt="slidebg2" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
            <div class="caption lft start"
              data-y="center"
              data-voffset="40"
              data-x="center"
              data-hoffset="-250"
              data-speed="600" 
              data-start="500" 
              data-easing="easeOutBack"><img src="../../assets/frontend/onepage/img/silder/Slide2_iphone_left.png" alt="">
            </div>
            <div class="caption lft start"
              data-y="center"
              data-voffset="130"
              data-x="center"
              data-hoffset="170"
              data-speed="600" 
              data-start="1200" 
              data-easing="easeOutBack"><img src="../../assets/frontend/onepage/img/silder/Slide2_iphone_right.png" alt="">
            </div>
            <div class="tp-caption large_bold_white fade"
              data-x="center"
              data-y="40"
              data-speed="300"
              data-start="1700"
              data-easing="Power4.easeOut"
              data-endspeed="500"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">中国最大的 <span>原生广告</span> 网络平台 
            </div>
          </li>
          <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-delay="9400" class="slider-item-3">
            <img src=""  alt="video_woman_cover3"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            <!-- http://themepunch.com/revolution/wp-content/uploads/2014/05/video_woman_cover3.jpg -->
            <div class="tp-caption tp-fade fadeout fullscreenvideo"
              data-x="0"
              data-y="0"
              data-speed="1000"
              data-start="1100"
              data-easing="Power4.easeOut"
              data-endspeed="1500"
              data-endeasing="Power4.easeIn"
              data-autoplay="true"
              data-autoplayonlyfirsttime="false"
              data-nextslideatend="true"
              data-forceCover="1"
              data-dottedoverlay="twoxtwo"
              data-aspectratio="16:9"
              data-forcerewind="on"
              style="z-index: 2">
              <video class="video-js vjs-default-skin" preload="none" width="100%" height="100%">
                  <source src='http://goodwebtheme.com/previewvideo/forest_edit.mp4' type='video/mp4'>
                <source src='http://goodwebtheme.com/previewvideo/forest_edit.webm' type='video/webm'>
                <source src='http://goodwebtheme.com/previewvideo/forest_edit.ogv' type='video/ogg'>
              
              </video>
            </div>
            <div class="tp-caption large_bold_white_25 customin customout tp-resizeme"
              data-x="center" data-hoffset="0"
              data-y="170"
              data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-speed="600"
              data-start="1400"
              data-easing="Power4.easeOut"
              data-endspeed="600"
              data-endeasing="Power0.easeIn"
                style="z-index: 3">最为清晰的通往宇宙的路，<br>是通过一片森林荒野。

            </div>
            <div class="tp-caption medium_text_shadow customin customout tp-resizeme"
              data-x="center" data-hoffset="0"
              data-y="bottom" data-voffset="-140"
              data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-speed="600"
              data-start="1700"
              data-easing="Power4.easeOut"
              data-endspeed="600"
              data-endeasing="Power0.easeIn"
              style="z-index: 4">约翰·缪尔
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Promo block END -->
  <!-- About block BEGIN -->
  <div class="about-block content content-center" id="about">
    <div class="container">
      <h2><strong>Metro美拓</strong> 科技有限公司</h2>
      <h4>是中国领先的移动营销解决方案提供商，致力于打造中国领先的移动广告平台。
      美拓科技凭借在广告基础构架及算法上的丰富经验，
      在移动互联网广告投放技术、移动互联网广告效果监测、广告目标受众数据挖掘技术等方面的持续创新，
      实现了从“媒体定向”到“人群定向”的颠覆与创新，
      极大提升移动广告的覆盖面和有效性。
      自2010年成立以来，美拓科技依托旗下的美拓广告网络和美拓DSP两大产品成为中国移动互联网广告市场强有力的引领者，
      是中国发展最快的移动互联网广告公司之一。</h4>
      <div class="ab-trio">
        <img src="../../assets/frontend/onepage/img/trio.png" alt="" class="img-responsive">
        <div class="ab-cirlce ab-cirle-blue">
          <i class="fa fa-code"></i>
          <strong>整洁UI</strong>
        </div>
        <div class="ab-cirlce ab-cirle-red">
          <i class="fa fa-gift"></i>
          <strong>快速支持</strong>
        </div>
        <div class="ab-cirlce ab-cirle-green">
          <i class="fa fa-mobile"></i>
          <strong>完美服务</strong>
        </div>
      </div>
    </div>
  </div>
  <!-- About block END -->
  <!-- Services block BEGIN -->
  <div class="services-block content content-center" id="services">
    <div class="container">
      <h2>我们的 <strong>服务项目</strong></h2>
      <h4>下面这些只是我们提供的部分服务范畴,其他的支持请详细查看服务详情</h4>
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12 item">
          <i class="fa fa-heart"></i>
          <h3>超棒的界面设计</h3>
          <p>为您的公司网站 手机APP 提供最优 最炫的界面UI 达到让您的用户惊艳的目标</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 item">
          <i class="fa fa-mobile"></i>
          <h3>移动建站</h3>
          <p>我们提供最好的和最迅速的手机APP建站开发和相应的微信开发合作</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 item">
          <i class="fa fa-signal"></i>
          <h3>市场分析预测</h3>
          <p>针对市场的用户回馈反应<br> 对将来公司的也无方向进行预测</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 item">
          <i class="fa fa-camera"></i>
          <h3>数据挖掘</h3>
          <p>对用户市场的潜在数据挖掘<br> 以达到客户的最优化深度挖掘</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Services block END -->
  <!-- Message block BEGIN -->
  <div class="message-block content content-center valign-center" id="message-block">
    <div class="valign-center-elem">
      <h2><strong>你不可能有先见之明，只能有后见之明，因此，<br>你必须相信，这些小事一定会和你的未来产生关联。</strong></h2>
      <em>史蒂夫.保罗.乔布斯</em>
    </div>
  </div>
  <!-- Message block END -->
  <!-- Team block BEGIN -->
  <div class="team-block content content-center margin-bottom-40" id="team">
    <div class="container">
      <h2>遇见 <strong>我们的团队</strong></h2>
      <h4>由海外的丰富经验和一线互联网开发团队组建的明星梦之队</h4>
      <div class="row">
        <div class="col-md-3 item">
          <img src="../../assets/frontend/onepage/img/people/img6-large.jpg" alt="Marcus Doe" class="img-responsive">
          <h3>后山人</h3>
          <em>CEO</em>
          <p> 2010年成立美拓广告传媒 ，获得《财富》"中国40位40岁以下的商界精英"称号
，获得《福布斯》杂志（《Forbes》中文版）"30位30岁以下创业者"
， 荣获"中国骄子青年领袖"称号</p>
          <div class="tb-socio">
            <a href="javascript:void(0);" class="fa fa-facebook"></a>
            <a href="javascript:void(0);" class="fa fa-twitter"></a>
            <a href="javascript:void(0);" class="fa fa-google-plus"></a>
          </div>
        </div>
        <div class="col-md-3 item">
          <img src="../../assets/frontend/onepage/img/people/img7-large.jpg" alt="Elena Taylor" class="img-responsive">
          <h3>Elena Taylor</h3>
          <em>产品副总裁</em>
          <p>约翰霍普金斯大学计算机科学硕士学位
,芝加哥大学布斯商学院MBA硕士学位
,曾负责Google DoubleClick DFP企业版的技术
,曾任职知名投资机构IDG-ACCEL和中信产业基金</p>
          <div class="tb-socio">
            <a href="javascript:void(0);" class="fa fa-facebook"></a>
            <a href="javascript:void(0);" class="fa fa-twitter"></a>
            <a href="javascript:void(0);" class="fa fa-google-plus"></a>
          </div>
        </div>
        <div class="col-md-3 item">
          <img src="../../assets/frontend/onepage/img/people/img8-large.jpg" alt="Cris Nilson" class="img-responsive">
          <h3>crvin</h3>
          <em>副总裁</em>
          <p>美拓创始人之一，拥有十余年营销背景，积累了丰富的客户资源和行业经验</p>
          <div class="tb-socio">
            <a href="javascript:void(0);" class="fa fa-facebook"></a>
            <a href="javascript:void(0);" class="fa fa-twitter"></a>
            <a href="javascript:void(0);" class="fa fa-google-plus"></a>
          </div>
        </div>
        <div class="col-md-3 item">
          <img src="../../assets/frontend/onepage/img/people/img8-large.jpg" alt="Cris Nilson" class="img-responsive">
          <h3>jetar</h3>
          <em>技术副总裁</em>
          <p> 在AdNetwork技术和产品、语义分析、大数据、架构设计等方面拥有丰富的经验，拥有5年以上互联网广告以及搜索创业经历，曾在百度，MooterMedid，迅传等公司任技术负责职位</p>
          <div class="tb-socio">
            <a href="javascript:void(0);" class="fa fa-facebook"></a>
            <a href="javascript:void(0);" class="fa fa-twitter"></a>
            <a href="javascript:void(0);" class="fa fa-google-plus"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team block END -->
  <!-- Portfolio block BEGIN -->
  <div class="portfolio-block content content-center" id="portfolio">
    <div class="container">
      <h2 class="margin-bottom-50">成功<strong>案例</strong></h2>
    </div>
    <div class="row">
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="../../assets/frontend/onepage/img/portfolio/2.jpg" alt="NAME" class="img-responsive">
        <a href="../../assets/frontend/onepage/img/portfolio/2.jpg" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="../../assets/frontend/onepage/img/portfolio/6.jpg" alt="NAME" class="img-responsive">
        <a href="../../assets/frontend/onepage/img/portfolio/6.jpg" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="../../assets/frontend/onepage/img/portfolio/8.jpg" alt="NAME" class="img-responsive">
        <a href="../../assets/frontend/onepage/img/portfolio/8.jpg" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="../../assets/frontend/onepage/img/portfolio/3.jpg" alt="NAME" class="img-responsive">
        <a href="../../assets/frontend/onepage/img/portfolio/3.jpg" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="../../assets/frontend/onepage/img/portfolio/5.jpg" alt="NAME" class="img-responsive">
        <a href="../../assets/frontend/onepage/img/portfolio/5.jpg" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="../../assets/frontend/onepage/img/portfolio/4.jpg" alt="NAME" class="img-responsive">
        <a href="../../assets/frontend/onepage/img/portfolio/4.jpg" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="../../assets/frontend/onepage/img/portfolio/1.jpg" alt="NAME" class="img-responsive">
        <a href="../../assets/frontend/onepage/img/portfolio/1.jpg" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="../../assets/frontend/onepage/img/portfolio/10.jpg" alt="NAME" class="img-responsive">
        <a href="../../assets/frontend/onepage/img/portfolio/10.jpg" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="../../assets/frontend/onepage/img/portfolio/9.jpg" alt="NAME" class="img-responsive">
        <a href="../../assets/frontend/onepage/img/portfolio/9.jpg" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="../../assets/frontend/onepage/img/portfolio/7.jpg" alt="NAME" class="img-responsive">
        <a href="../../assets/frontend/onepage/img/portfolio/7.jpg" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="../../assets/frontend/onepage/img/portfolio/2.jpg" alt="NAME" class="img-responsive">
        <a href="../../assets/frontend/onepage/img/portfolio/2.jpg" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="../../assets/frontend/onepage/img/portfolio/8.jpg" alt="NAME" class="img-responsive">
        <a href="../../assets/frontend/onepage/img/portfolio/8.jpg" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- Portfolio block END -->
  <!-- Choose us block BEGIN -->
  <div class="choose-us-block content text-center margin-bottom-40" id="benefits">
    <div class="container">
      <h2>美拓<strong>DMP</strong></h2>
      <h4>中国最大的移动广告信息数据平台，覆盖用户6亿，支持iOS和Android系统<br> 领先的移动DSP技术实战经验
专注移动端数据挖掘.</h4>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 text-left">
          <img src="../../assets/frontend/onepage/img/choose-us.png" alt="Why to choose us" class="img-responsive">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 text-left">
          <div class="panel-group" id="accordion1">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="onepage-index.html#accordion1_1">人群标签</a>
                </h5>
              </div>
              <div id="accordion1_1" class="panel-collapse collapse in">
                <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="onepage-index.html#accordion1_2">广告效果优化</a>
                </h5>
              </div>
              <div id="accordion1_2" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="v_1">
                    <p><span>极致的点击率/转化率优化：</span></p>
                    <p>我们的数据专家在力美数据中心建立了大数据预估模型，利用每一天广告投放产生的数百万条样本数据，自动分析了上百万的数据特征，从而实时优化广告主的点击率和转化率。实验表明，上线了大数据预估模型后比单纯的人工优化效果提升<span>60%</span>以上。</p>
                </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="onepage-index.html#accordion1_3">真正智能的预算分配</a>
                </h5>
              </div>
              <div id="accordion1_3" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>预算分配的合理性对RTB广告效果有很大的影响。我们的数据专家建立了预算分配大数据模型，根据流量的质量和竞争激烈程度，真正智能地对广告主的预算进行分配，而不仅仅是控制匀速消耗预算。</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="onepage-index.html#accordion1_4">专家级实时数据报表
</a>
                </h5>
              </div>
              <div id="accordion1_4" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>实时竞价更需要实时的报表。深知报表的实时性和准确性在广告投放中的决定性作用，我们投入巨大的财力人力，构建了专家级实时数据报表系统。保证您在第一时间了解广告投放的每一个关键细节，从而进行专业级投放优化，大大缩短优化周期，减少不必要的预算损失。</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="onepage-index.html#accordion1_5">独一无二移动端报表</a>
                </h5>
              </div>
              <div id="accordion1_5" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>移动端的数据具有自己的特性，如果延用PC端报表类型，很可能会漏掉影响投放的关键细节。作为专注移动领域多年的我们，终于探索出了移动端数据呈现的最佳方式。我们独家打造的商圈报表，设备使用情景报表，移动特有人群标签报表等等，从移动端特有的新角度，帮助您洞察广告投放的每一个方面。</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="onepage-index.html#accordion1_6">平台优势</a>
                </h5>
              </div>
              <div id="accordion1_6" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>数据优势
DSP先发数据积累
融合力美ADN数据

技术优势
领先的移动DSP技术实战经验
专注移动端数据挖掘</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Choose us block END -->
  <!-- Checkout block BEGIN -->
  <div class="checkout-block content">
    <div class="container">
      <div class="row">
        <div class="col-md-11">
          <div style="float:left;" ><h2>美拓ADN<em>覆盖用户近亿，支持iOS和Android系统</em></h2></div>
          <div  style="margin-top:15px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-apple fa-4x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-android fa-4x"></i></div>
        </div>
        <div class="col-md-1 text-right">
          <a href="#" target="_blank" class="btn btn-primary">申请试用</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Checkout block END -->
  <!-- Facts block BEGIN -->
  <div class="facts-block content content-center" id="facts-block">
    <h2>中国第一原生广告网络平台</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="item">
            <strong>积分墙</strong>
            打破传统广告模式
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="item">
            <strong>原生插屏广告</strong>
            颠覆Banner广告新形式
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="item">
            <strong>平台优势</strong>
            8000多万日展示
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="item">
            <strong>案例分享</strong>
            优势资源200个热门APP
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Facts block END -->
  <!-- Prices block BEGIN -->
  <div class="prices-block content content-center" id="prices">
    <div class="container">
      <h2 class="margin-bottom-50"><strong>产品价格</strong> 一览表</h2>
      <div class="row">
        <!-- Pricing item BEGIN -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="pricing-item">
            <div class="pricing-head">
              <h3>ADN</h3>
              <p>广告网络平台</p>
            </div>
            <div class="pricing-content">
              <div class="pi-price">
                <strong>￥<em>220</em></strong>
              </div>
              <ul class="list-unstyled">
                <li><i class="fa fa-circle"></i>积分墙</li>
                <li><i class="fa fa-circle"></i>原生插屏广告</li>
                <li><i class="fa fa-circle"></i>广泛的人群覆盖</li>
                <li><i class="fa fa-circle"></i>完善的统计数据</li>
                <li><i class="fa fa-circle"></i>超强的防作弊机制</li>
              </ul>
            </div>
            <div class="pricing-footer">
              <a class="btn btn-default" href="javascript:void(0);">登录试用</a>
            </div>
          </div>
        </div>
        <!-- Pricing item END -->
        <!-- Pricing item BEGIN -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="pricing-item">
            <div class="pricing-head">
              <h3>DSP</h3>
              <p>需求方平台</p>
            </div>
            <div class="pricing-content">
              <div class="pi-price">
                <strong>￥<em>250</em></strong>
              </div>
              <ul class="list-unstyled">
                <li><i class="fa fa-circle"></i>覆盖全球移动用户</li>
                <li><i class="fa fa-circle"></i>海量移动数据</li>
                <li><i class="fa fa-circle"></i>优质媒体资源</li>
                 <li><i class="fa fa-circle"></i>精准定向</li>
                  <li><i class="fa fa-circle"></i>自动优化投放</li>
              </ul>
            </div>
            <div class="pricing-footer">
              <a class="btn btn-default" href="javascript:void(0);">登录试用</a>
            </div>
          </div>
        </div>
        <!-- Pricing item END -->
        <!-- Pricing item BEGIN -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="pricing-item">
            <div class="pricing-head">
              <h3>SSP</h3>
              <p>供应方平台</p>
            </div>
            <div class="pricing-content">
              <div class="pi-price">
                <strong>￥<em>590</em></strong>
              </div>
              <ul class="list-unstyled">
                <li><i class="fa fa-circle"></i>丰富的广告形式</li>
                <li><i class="fa fa-circle"></i>灵活的流量控制</li>
                <li><i class="fa fa-circle"></i>方便的媒体资源管理</li>
                 <li><i class="fa fa-circle"></i>灵活的数据报表</li>
                  <li><i class="fa fa-circle"></i>平台控制颗粒化</li>
              </ul>
            </div>
            <div class="pricing-footer">
              <a class="btn btn-default" href="javascript:void(0);">登录试用</a>
            </div>
          </div>
        </div>
        <!-- Pricing item END -->
        <!-- Pricing item BEGIN -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="pricing-item">
            <div class="pricing-head">
              <h3>DMP</h3>
              <p>数据管理平台</p>
            </div>
            <div class="pricing-content">
              <div class="pi-price">
                <strong>￥<em>1980</em></strong>
              </div>
              <ul class="list-unstyled">
                <li><i class="fa fa-circle"></i>极致的点击率/转化率优化</li>
                <li><i class="fa fa-circle"></i>真正智能的预算分配</li>
                <li><i class="fa fa-circle"></i>专家级实时数据报表</li>
                <li><i class="fa fa-circle"></i>独一无二移动端报表</li>
                <li><i class="fa fa-circle"></i>人群标签多定义</li>
              </ul>
            </div>
            <div class="pricing-footer">
              <a class="btn btn-default" href="javascript:void(0);">登录试用</a>
            </div>
          </div>
        </div>
        <!-- Pricing item END -->
      </div>
    </div>
  </div>
  <!-- Prices block END -->
  <!-- Testimonials block BEGIN -->
  <div class="testimonials-block content content-center margin-bottom-65">
    <div class="container">
      <h2>客户 <strong>感言</strong></h2>
      <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h4>
      <div class="carousel slide" data-ride="carousel" id="testimonials-block">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <!-- Carousel items -->
          <div class="active item">
            <blockquote>
              <p>网站程序本身功能很强大，扩展性也非常好。 从网站设计、沟通及网站中定制功能的要求及改动，都体现出一流的服务态度与专业的编程知识。 </p>
            </blockquote>
            <span class="testimonials-name">沃尔玛中国区CEO 张江</span>
          </div>
          <!-- Carousel items -->
          <div class="item">
            <blockquote>
              <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.</p>
            </blockquote>
            <span class="testimonials-name">Joe Smith</span>
          </div>
          <!-- Carousel items -->
          <div class="item">
            <blockquote>
              <p>Williamsburg carles vegan helvetica. Cosby sweater eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p>
            </blockquote>
            <span class="testimonials-name">Linda Adams</span>
          </div>
        </div>
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#testimonials-block" data-slide-to="0" class="active"></li>
          <li data-target="#testimonials-block" data-slide-to="1"></li>
          <li data-target="#testimonials-block" data-slide-to="2"></li>
        </ol>
      </div>
    </div>
  </div>
  <!-- Testimonials block END -->
  <!-- Partners block BEGIN -->
  <div class="partners-block">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-6">
          <img style="width:160px;margin-top:18px;" src="../../assets/frontend/onepage/img/partners/youku.png" alt="优酷">
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <img style="width:120px;margin-top:18px;" src="../../assets/frontend/onepage/img/partners/taobao.png" alt="淘宝">
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <img style="width:140px;margin-top:20px;" src="../../assets/frontend/onepage/img/partners/jd.png" alt="京东">
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <img src="../../assets/frontend/onepage/img/partners/spinwokrx.png" alt="spinwokrx">
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <img src="../../assets/frontend/onepage/img/partners/ngreen.png" alt="ngreen">
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <img src="../../assets/frontend/onepage/img/partners/vimeo.png" alt="vimeo">
        </div>
      </div>
    </div>
  </div>
  <!-- Partners block END -->
  <!-- BEGIN PRE-FOOTER -->
  <div class="pre-footer" id="contact">
    <div class="container">
      <div class="row">
        <!-- BEGIN BOTTOM ABOUT BLOCK -->
        <div class="col-md-8 col-sm-8 pre-footer-col">
           <h2>关于我们</h2>
      <p>美拓科技有限公司是中国领先的移动营销解决方案提供商，致力于打造中国领先的移动广告平台。
      美拓科技凭借在广告基础构架及算法上的丰富经验，
      在移动互联网广告投放技术、移动互联网广告效果监测、广告目标受众数据挖掘技术等方面的持续创新，
      实现了从“媒体定向”到“人群定向”的颠覆与创新，
      极大提升移动广告的覆盖面和有效性。
      自2010年成立以来，美拓科技依托旗下的美拓广告网络和美拓DSP两大产品成为中国移动互联网广告市场强有力的引领者，
      是中国发展最快的移动互联网广告公司之一。</p>
        </div>
        <!-- END BOTTOM ABOUT BLOCK -->
        <div class="col-md-4 col-sm-4 pre-footer-col">
          <h2>联系我们</h2>
          <address class="margin-bottom-20">
            北京市海淀区<br>
            北三环中路43号院9#<br>
            电话: 131 6106 4387<br>
            传真: 010  4453 552<br>
          </address>
        </div>
      </div>
    </div>
  </div>
  <!-- END PRE-FOOTER -->
  <!-- BEGIN FOOTER -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- BEGIN COPYRIGHT -->
        <div class="col-md-6 col-sm-6">
          <div class="copyright">2015 © 美拓科技有限公司. 京ICP备11028232号</div>
        </div>
        <!-- END COPYRIGHT -->
        <!-- BEGIN SOCIAL ICONS -->
        <div class="col-md-6 col-sm-6 pull-right">
          <ul class="social-icons">
            <li><a class="rss" data-original-title="rss" href="javascript:void(0);"></a></li>
            <li><a class="facebook" data-original-title="facebook" href="javascript:void(0);"></a></li>
            <li><a class="twitter" data-original-title="twitter" href="javascript:void(0);"></a></li>
            <li><a class="googleplus" data-original-title="googleplus" href="javascript:void(0);"></a></li>
            <li><a class="linkedin" data-original-title="linkedin" href="javascript:void(0);"></a></li>
            <li><a class="youtube" data-original-title="youtube" href="javascript:void(0);"></a></li>
            <li><a class="vimeo" data-original-title="vimeo" href="javascript:void(0);"></a></li>
            <li><a class="skype" data-original-title="skype" href="javascript:void(0);"></a></li>
          </ul>
        </div>
        <!-- END SOCIAL ICONS -->
      </div>
    </div>
  </div>
  <!-- END FOOTER -->
  <a href="onepage-index.html#promo-block" class="go2top scroll"><i class="fa fa-arrow-up"></i></a>
  <!--[if lt IE 9]>
  <script src="../../assets/global/plugins/respond.min.js"></script>
  <![endif]-->
  <!-- Load JavaScripts at the bottom, because it will reduce page load time -->
  <!-- Core plugins BEGIN (For ALL pages) -->
  <script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
  <script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
  <script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <!-- Core plugins END (For ALL pages) -->
  <!-- BEGIN RevolutionSlider -->
  <script src="../../assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
  <script src="../../assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
  <script src="../../assets/frontend/onepage/scripts/revo-ini.js" type="text/javascript"></script> 
  <!-- END RevolutionSlider -->
  <!-- Core plugins BEGIN (required only for current page) -->
  <script src="../../assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
  <script src="../../assets/global/plugins/jquery.easing.js"></script>
  <script src="../../assets/global/plugins/jquery.parallax.js"></script>
  <script src="../../assets/global/plugins/jquery.scrollTo.min.js"></script>
  <script src="../../assets/frontend/onepage/scripts/jquery.nav.js"></script>
  <!-- Core plugins END (required only for current page) -->
  <!-- Global js BEGIN -->
  <script src="../../assets/frontend/onepage/scripts/layout.js" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      Layout.init();
    });
  </script>
  <!-- Global js END -->

</body>

</html>