<div class="pageheader">
    <h1>Buttons</h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li><a href="#/index">Dashboard</a>
            </li>
            <li>UI Elements</li>
            <li class="active">Buttons</li>
        </ol>
    </div>
</div>
<section id="main-content" class="animated fadeInRight">
    <div class="row">
        <div class="col-md-12 col-lg-12">
              <!--button start-->
                  <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Default Buttons</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                            <button type="button" class="btn btn-default">Default</button>
                            <button type="button" class="btn btn-primary">Primary</button>
                            <button type="button" class="btn btn-success">Success</button>
                            <button type="button" class="btn btn-info">Info</button>
                            <button type="button" class="btn btn-warning">Warning</button>
                            <button type="button" class="btn btn-danger">Danger</button>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                           <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">3d Buttons</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                            <button type="button" class="btn btn-default btn-3d">Default</button>
                            <button type="button" class="btn btn-primary btn-3d">Primary</button>
                            <button type="button" class="btn btn-success btn-3d">Success</button>
                            <button type="button" class="btn btn-info btn-3d">Info</button>
                            <button type="button" class="btn btn-warning btn-3d">Warning</button>
                            <button type="button" class="btn btn-danger btn-3d">Danger</button>
                          </div>
                        </div>
             
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-6">
                             <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Square Buttons</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                            <button type="button" class="btn btn-default btn-square">Default</button>
                            <button type="button" class="btn btn-primary btn-square">Primary</button>
                            <button type="button" class="btn btn-success btn-square">Success</button>
                            <button type="button" class="btn btn-info btn-square">Info</button>
                            <button type="button" class="btn btn-warning btn-square">Warning</button>
                            <button type="button" class="btn btn-danger btn-square">Danger</button>
                          </div>
                        </div>
                   
                    </div>
                      <div class="col-md-6">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Transparent Buttons</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                            <button type="button" class="btn btn-default btn-trans">Default</button>
                            <button type="button" class="btn btn-primary btn-trans">Primary</button>
                            <button type="button" class="btn btn-success btn-trans">Success</button>
                            <button type="button" class="btn btn-info btn-trans">Info</button>
                            <button type="button" class="btn btn-warning btn-trans">Warning</button>
                            <button type="button" class="btn btn-danger btn-trans">Danger</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                     <div class="col-md-6">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Button Sizes</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                          </div>
                           <div class="panel-body">
                                <button type="button" class="btn btn-default btn-lg">Large button</button>
                                <button type="button" class="btn btn-primary">Default button</button>
                                <button type="button" class="btn btn-success btn-sm">Small button</button>
                                <button type="button" class="btn btn-info btn-xs">Extra small button</button>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Button Icons</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                          </div>
                           <div class="panel-body">
                                 <button type="button" class="btn btn-success"><i class="fa fa-check"></i> Success button</button>
                                <button type="button" class="btn btn-info"><i class="fa fa-info-circle"></i> Info button</button>
                                <button type="button" class="btn btn-warning"><i class="fa fa-warning"></i> Warning button</button>
                                <button type="button" class="btn btn-danger"><i class="fa fa-times-circle"></i> Danger button</button>
                           </div>
                        </div>
                     </div>
                   </div>
                    <div class="row">
                     <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Button dropdowns</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                          </div>
                           <div class="panel-body">
                             <div class="row">
                                 <div class="col-md-4">
                                  <h4>Single button dropdowns</h4>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Action <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                      </ul>
                                    </div>

                                <div class="btn-group">
                                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        Action <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                      </ul>
                                    </div>

                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                        Action <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                      </ul>
                                    </div>
                                </div>
                                 <div class="col-md-4">
                                 <h4>Split button dropdowns</h4>
                                 <div class="btn-group">
                                      <button type="button" class="btn btn-warning">Action</button>
                                      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                      </ul>
                                    </div>

                                          <div class="btn-group">
                                      <button type="button" class="btn btn-info">Action</button>
                                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                      </ul>
                                    </div>

                                     <div class="btn-group">
                                      <button type="button" class="btn btn-danger">Action</button>
                                      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                      </ul>
                                    </div>
                                </div>
                                 <div class="col-md-4">
                                    <h4>Dropup variation</h4>

                                 <div class="btn-group dropup">
                                    <button type="button" class="btn btn-default">Dropup</button>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                      <span class="caret"></span>
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                      <li><a href="#">Action</a></li>
                                      <li><a href="#">Another action</a></li>
                                      <li><a href="#">Something else here</a></li>
                                      <li class="divider"></li>
                                      <li><a href="#">Separated link</a></li>
                                    </ul>
                                  </div>

                                   <div class="btn-group dropup">
                                    <button type="button" class="btn btn-info">Dropup</button>
                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                      <span class="caret"></span>
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                      <li><a href="#">Action</a></li>
                                      <li><a href="#">Another action</a></li>
                                      <li><a href="#">Something else here</a></li>
                                      <li class="divider"></li>
                                      <li><a href="#">Separated link</a></li>
                                    </ul>
                                  </div>

                                          <div class="btn-group dropup">
                                    <button type="button" class="btn btn-primary">Dropup</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                      <span class="caret"></span>
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                      <li><a href="#">Action</a></li>
                                      <li><a href="#">Another action</a></li>
                                      <li><a href="#">Something else here</a></li>
                                      <li class="divider"></li>
                                      <li><a href="#">Separated link</a></li>
                                    </ul>
                                  </div>
                                  
                                </div>
                             </div>
                           </div>
                        </div>
                     </div>
                   </div>
                    <div class="row">
                     <div class="col-md-6">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Button Blocks</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                          </div>
                           <div class="panel-body">
                            <button type="button" class="btn btn-default btn-block">Default</button>
                            <button type="button" class="btn btn-primary btn-block">Primary</button>
                            <button type="button" class="btn btn-success btn-block">Success</button>
                            <button type="button" class="btn btn-info btn-block">Info</button>
                            <button type="button" class="btn btn-warning btn-block">Warning</button>
                            <button type="button" class="btn btn-danger btn-block">Danger</button>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-6">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Button groups</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                          </div>
                           <div class="panel-body">
                            <h4>Basic example</h4>
                            <div class="btn-group">
                              <button type="button" class="btn btn-default">Left</button>
                              <button type="button" class="btn btn-default">Middle</button>
                              <button type="button" class="btn btn-default">Right</button>
                            </div>
                            <h4>Button toolbar</h4>
                            <div class="btn-toolbar" role="toolbar">
                              <div class="btn-group">
                                <button type="button" class="btn btn-default">1</button>
                                <button type="button" class="btn btn-default">2</button>
                                <button type="button" class="btn btn-primary">3</button>
                                <button type="button" class="btn btn-default">4</button>
                              </div>
                              <div class="btn-group">
                                <button type="button" class="btn btn-info">5</button>
                                <button type="button" class="btn btn-info">6</button>
                                <button type="button" class="btn btn-info">7</button>
                              </div>
                              <div class="btn-group">
                                <button type="button" class="btn btn-default">8</button>
                              </div>
                            </div>
                             <h4>Nesting</h4>
                             <div class="btn-group">
                              <button type="button" class="btn btn-default">1</button>
                              <button type="button" class="btn btn-default">2</button>
                              <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                  Dropdown
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                  <li><a href="#">Dropdown link</a></li>
                                  <li><a href="#">Dropdown link</a></li>
                                </ul>
                              </div>
                            </div>
                            <h4>Justified button group</h4>
                                <div class="btn-group btn-group-justified">
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-default">Left</button>
                                  </div>
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-primary">Middle</button>
                                  </div>
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-default">Right</button>
                                  </div>
                                </div>
                           </div>
                        </div>
                     </div>
                   </div>

                   <!--button end-->

        </div>
    </div>
</section>
