<div class="pageheader">
    <h1>Sliders &amp; Progress</h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li><a href="#/index">Dashboard</a>
            </li>
            <li>UI Elements</li>
            <li class="active">Sliders &amp; Progress</li>
        </ol>
    </div>
</div>
<section id="main-content" class="animated fadeInRight">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Sliders</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Slider Colors</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="slider slider-default">
                                                <input type="text" data-slider class="slider-span" value="" data-slider-orientation="horizontal" data-slider-min="0" data-slider-max="1000" data-slider-value="150" data-slider-tooltip="hide">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="slider slider-primary">
                                                <input type="text" data-slider class="slider-span" value="" data-slider-orientation="horizontal" data-slider-min="0" data-slider-max="1000" data-slider-value="150" data-slider-tooltip="hide">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="slider slider-info">
                                                <input type="text" data-slider class="slider-span" value="" data-slider-orientation="horizontal" data-slider-min="0" data-slider-max="1000" data-slider-value="250" data-slider-tooltip="hide">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="slider slider-success">
                                                <input type="text" data-slider class="slider-span" value="" data-slider-orientation="horizontal" data-slider-min="0" data-slider-max="1000" data-slider-value="350" data-slider-tooltip="hide">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="slider slider-warning">
                                                <input type="text" data-slider class="slider-span" value="" data-slider-orientation="horizontal" data-slider-min="0" data-slider-max="1000" data-slider-value="450" data-slider-tooltip="hide">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="slider slider-danger">
                                                <input type="text" data-slider data-slider class="slider-span" value="" data-slider-orientation="horizontal" data-slider-min="0" data-slider-max="1000" data-slider-value="550" data-slider-tooltip="hide">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <h4>Vertical Sliders</h4>
                                    <div class="slider slider-default">
                                        <input type="text" data-slider class="slider-span" value="" data-slider-orientation="vertical" data-slider-min="-20" data-slider-max="20" data-slider-value="-13" data-slider-selection="after" data-slider-tooltip="hide">
                                    </div>
                                    <div class="slider slider-primary">
                                        <input type="text" data-slider class="slider-span" value="" data-slider-orientation="vertical" data-slider-min="-20" data-slider-max="20" data-slider-value="-11" data-slider-selection="after" data-slider-tooltip="hide">
                                    </div>
                                    <div class="slider slider-info">
                                        <input type="text" data-slider class="slider-span" value="" data-slider-orientation="vertical" data-slider-min="-20" data-slider-max="20" data-slider-value="-6" data-slider-selection="after" data-slider-tooltip="hide">
                                    </div>
                                    <div class="slider slider-success">
                                        <input type="text" data-slider class="slider-span" value="" data-slider-orientation="vertical" data-slider-min="-20" data-slider-max="20" data-slider-value="-4" data-slider-selection="after" data-slider-tooltip="hide">
                                    </div>
                                    <div class="slider slider-warning">
                                        <input type="text" data-slider class="slider-span" value="" data-slider-orientation="vertical" data-slider-min="-20" data-slider-max="20" data-slider-value="-6" data-slider-selection="after" data-slider-tooltip="hide">
                                    </div>
                                    <div class="slider slider-danger">
                                        <input type="text" data-slider class="slider-span" value="" data-slider-orientation="vertical" data-slider-min="-20" data-slider-max="20" data-slider-value="-6" data-slider-selection="after" data-slider-tooltip="hide">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h4>Slider Range</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="slider slider-default">
                                                <input type="text" data-slider class="slider-span" data-slider-value="[150,650]" data-slider-step="1" data-slider-max="1000" data-slider-min="0" value="" data-slider-selection="after">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="slider slider-primary">
                                                <input type="text" data-slider class="slider-span" data-slider-value="[450,800]" data-slider-step="1" data-slider-max="1000" data-slider-min="0" value="" data-slider-selection="after">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="slider slider-info">
                                                <input type="text" data-slider class="slider-span" data-slider-value="[50,300]" data-slider-step="1" data-slider-max="1000" data-slider-min="0" value="" data-slider-selection="after">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="slider slider-success">
                                                <input type="text" data-slider class="slider-span" data-slider-value="[200,650]" data-slider-step="1" data-slider-max="1000" data-slider-min="0" value="" data-slider-selection="after">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="slider slider-warning">
                                                <input type="text" data-slider class="slider-span" data-slider-value="[0,300]" data-slider-step="1" data-slider-max="1000" data-slider-min="0" value="" data-slider-selection="after">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="slider slider-danger">
                                                <input type="text" data-slider class="slider-span" data-slider-value="[0,300]" data-slider-step="1" data-slider-max="1000" data-slider-min="0" value="" data-slider-selection="after">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Slider Color Values</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <div class="slider slider-danger">
                                            <input type="text" data-slider class="slider-span" value="" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="128" data-slider-id="RC" id="R" data-slider-tooltip="show" data-slider-handle="round">
                                        </div>
                                    </p>
                                    <p>
                                        <div class="slider slider-success">
                                            <input type="text" data-slider class="slider-span" value="" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="128" data-slider-id="GC" id="G" data-slider-tooltip="show" data-slider-handle="round">
                                        </div>
                                    </p>
                                    <p>
                                        <div class="slider slider-info">
                                            <input type="text" data-slider class="slider-span" value="" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="128" data-slider-id="BC" id="B" data-slider-tooltip="show" data-slider-handle="round">
                                        </div>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <div id="RGB"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Basic Progress</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="progress">
                                <div class="progress-bar progress-bar-default" style="width: 10%">10%</div>
                            </div>

                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" style="width: 20%">20%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" style="width: 40%">40%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" style="width: 60%">60%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" style="width: 80%">80%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" style="width: 100%">100%</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Striped Progress</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-default" style="width: 10%">10%</div>
                            </div>

                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-primary" style="width: 20%">20%</div>
                            </div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" style="width: 40%">40%</div>
                            </div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-info" style="width: 60%">60%</div>
                            </div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-warning" style="width: 80%">80%</div>
                            </div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-danger" style="width: 100%">100%</div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Animated Progress</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-default" style="width: 10%">10%</div>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-primary" style="width: 20%">20%</div>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-success" style="width: 40%">40%</div>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-info" style="width: 60%">60%</div>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-warning" style="width: 80%">80%</div>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-danger" style="width: 100%">100%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
