/***
Anout Us Page
***/

.meet-our-team h3 {
  margin-bottom: 0;
  padding: 10px;
  background: #eee;
  border-radius: 4px;
}

.meet-our-team small {
  display:block; 
  font-size:12px;
}

.meet-our-team .team-info {
  padding: 10px;
  overflow: hidden; 
  background: #f5f5f5;
}